body {
    background-color: #a331d1;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    background-color: rgba(166, 66, 217, 0.8); /* Průhledný fialový */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Stín */
    transition: background-color 0.3s ease;
}

h1:hover {
    background-color: rgba(166, 66, 217, 1); /* Plný fialový při najetí myší */
}

p {
    color: rgba(0, 255, 34, 0.94);
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul a {
    display: inline-block;
    padding: 10px;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Plynulý přechod */
}

nav ul a:hover {
    background-color: #ddd; /* Zvýraznění na najetí myší */
}

section {
    padding: 20px;
    transition: background-color 0.5s ease; /* Plynulý přechod */
    border-radius: 10px; /* Zaoblené hrany */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Stín */
}

.obsah {
    padding: 30px;
    text-align: center;
    background-color: #b905ac;
    position: relative; /* Pozice */
}

.obsah:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent); /* Průhledný gradient */
    z-index: 1; /* Index z vrchu */
    animation: shimmer 1.5s infinite; /* Animace */
}

@keyframes shimmer {
    0% {
        background-position: -200%;
    }
    100% {
        background-position: 200%;
    }
}

footer {
    background-color: #8605b0;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease; /* Plynulý přechod */
}

img:hover {
    transform: scale(1.1); /* Zvětšení obrázku na najetí myší */
}
