body {
    background-color: #a331d1;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    background-color: #a642d9;
    font-family: Arial, sans-serif;
    text-align: center;

}

p {
    color: rgba(132, 0, 255, 0.94)
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul a {
    display: inline-block;
    padding: 10px;
    color: #333;
    font-weight: bold;
}

section {
    padding: 20px;
}

.obsah {
    padding: 30px;
    text-align: center;
    background-color: #b905ac;
}

footer {
    background-color: #8605b0;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}